*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    width: 1921px;
    height: 100px;
}

.navDiv{
    width: 20%;
    display: flex;
    margin: auto;
    border: 1px solid;
    border-color: blue;
    justify-content: center;
}

.navLink{
    font-size: large;
    font-weight: bolder;
}

#start{
    width: 1921px;
    height: 683px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(media/startMeeting.jpg);
    border: 1px solid;
    border-color: aqua;
}

.startTitle{
    padding-top: 200px;
    color: white;
    font-size: 42pt;
    font-weight: bolder;
    width: 780px;
}

.startSubtitle{
    padding-top: 20px;
    padding-bottom: 10px;
    color:white;
    font-size: 16pt;
    width: 680px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.startBtn{
    margin-top: 40px;
}

.btn {
    color: #0a0a0a;
    font-size: 20px;
    background-color: #FFBE00;
    border: 2px solid #FFBE00;
    border-radius: 50px;
    padding: 15px 45px;
  }
  
  .btn:hover {
    background-color: white;
    border-color: white;
  }

  .subSection{
    color: black;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 20px;
    border: 2px solid;
    border-color: blueviolet;
    width: 1921px;
  }

  .summary{
    margin-bottom: 5px;
    width: 1000px;
    border: 2px solid;
    border-color: red;
  }