body{
    margin: 0px;
    padding: 0px;
    width: 1920px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    width: 1920px;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: white;
}

a{
  text-decoration: none;
}

.navDiv{
    width: 20%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.navLink1{
    font-size: 24px;
    margin-right: 10px;
    color: #FFBE00;
}
.navLink2{
  margin-left: 20px;
  font-size: 24px;
  color: #353535;
}

#start{
    width: 1920px;
    height: 683px;
    background-image: url(media/header-banner.png);
}

.startTitle{
    padding-top: 200px;
    color: white;
    font-size: 42pt;
    font-weight: bolder;
    width: 820px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.startSubtitle{
    padding-top: 20px;
    padding-bottom: 10px;
    color:white;
    font-size: 16pt;
    width: 680px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.startBtn{
    margin-top: 40px;
}

.btn {
    color: #0a0a0a;
    font-size: 20px;
    background-color: #FFBE00;
    border: 2px solid #FFBE00;
    border-radius: 50px;
    padding: 15px 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #ffbf00a8;
    border-color: #ffbf00a8;
  }

  .subSection{
    color: #6B6B6B;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 20px;
    width: 1920px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .summary{
    margin-bottom: 5px;
    width: 1000px;
  }

  .section1{
    width: 1920px;
    padding-bottom: 100px;
  }

  .sectionTitle1{
    width: 100%;
    padding-bottom: 40px;
    font-size: 40px;
    color:#353535;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .sectionContainer1{
    display: flex;
    justify-content: center;
  }
  .sectionBox1{
    margin-left: 8px;
    margin-right: 8px;
  }

  .pictureContainer1{
    background-image: url(media/loremPicture.png);
    width: 285px;
    height: 221px;
    margin-bottom: 40px;
  }

  .hh2{
    font-size: 20px;
    color:#353535;

  }

  .textContainer1{
    width: 285px;
    align-content: center;
    font-size: 18px;
    color: #6B6B6B;
  }

  .section2{
    background-color: #5E5E5E;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1920px;
  }

  .sectionTitle2{
    color: #FFBE00;
    font-size: 36px;
    align-content: center;
    padding-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .sectionContainer2{
    width: 1920px;
    display: flex;
    justify-content: center;
  }

  .textContainer2{
    font-size: 18px;
    color: white;
    width: 32%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 130%;
    padding-right: 80px;

  }

  .pictureContainer2{
    width: 32%;
  }

  .section3{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1920px;
  }

  .sectionTitle3{
    width: 100%;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #353535;
  }

  .sectionContainer3{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
  }
  
  .sectionBox3{
    width: 272px;
    margin: auto;
    padding-top: 40px;
    display: flex;
  }

  iconBox3{
    margin: auto;
  }

  textBox3{
    margin: auto;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5E5E5E;
  }
  
  .section4{
    width: 995px;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .subTitle4{
    padding-top: 40px;
    font-size: 18px;
    color: #6B6B6B;
  }

  .sectionContainer4{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  .contentBox4{
    width: 282px;
  }
  
  .ch4{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    color: #6B6B6B;
  }

  .cf4{
    width: 282px;
    font-size: 18px;
    color:#6B6B6B;
  }

  .section5{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F8F8F8;
  }

  .sectionSubtitle5{
    font-size: 18px;
    margin-left: 600px;
    margin-right: 600px;
    padding-bottom: 40px;
    color: #6B6B6B;
  }

  .sectionContainer5{
    width: 1440px;
    margin: auto;
    display: flex;
    color: #6B6B6B;
  }

  .pictureContainer5{
    width: 593px;
    height: 600px;
  }

  .textContainer5{
    margin-left: 120px;
    margin-right: 120px;
    font-size: 18px;
  }

  .sectionSubtitle5a{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 600px;
    padding-right: 600px;
    font-size: 18px;
    color: #6B6B6B;
  }

  .pictureContainer5a{
    width: 590px;
    height: 484px;
    margin-left: 80px;
  }

  .section6{
    padding-bottom: 100px;
  }

  .sectionTitle6{
    padding-bottom: 40px;
    margin-left: 700px;
    margin-right: 700px;
    font-size: 40px;
    color:#353535;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  .sectionSubtitle6{
    padding-bottom: 40px;
    font-size: 18px;
    margin-left: 400px;
    margin-right: 400px;
    color: #6B6B6B;
  }

  .sectionContainer6{
    width: 1440px;
    margin: auto;
    display: flex;
    padding-bottom: 100px;
  }

  .pictureContainer6{
    width: 590px;
    height: 400px;
    margin-left: 80px;
  }

  .textContainer6{
    font-size: 18px;
    margin: auto 120px;
    color: #6B6B6B;
  }

  .pictureContainer6a{
    width: 590px;
    height: 300px;
    margin-left: 80px;
  }

  h6a{
    font-size: 28px;
  }

  .pictureContainer6b{
    width: 593px;
    height: 300px;
    margin-left: 100px;
    padding-left: 100px;
  }

  .formSection{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFBE00;
  }

  .formTitle{
    padding-bottom: 40px;
    font-size: 28px;
    width: 600px;
  }

  .formFields{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .inputSmall{
    width: 275px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 5px;
  }

  .inputLarge{
    width: 99%;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 5px;
  }

  .loremBtn{
    padding-top: 20px;
  }

  .btn2 {
    color: whitesmoke;
    font-size: 20px;
    background-color: #353535;
    border: 2px solid #353535;
    border-radius: 50px;
    padding: 15px 45px;
  }
  
  .btn2:hover {
    background-color: #565555;
    border-color: #565555;
  }

  .finalSection{
    background-image: url(media/imagen-bloque-10.png);
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    color:#FFBE00;
  }

  .finalTitle{
    font-size: 28px;
    margin-left: 600px;
    margin-right: 600px;

  }

  .contactSection{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contactContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1000px;
    font-size: 20px;
    padding-top: 40px;
  }

  